section.hero
  video( playsinline autoplay loop poster="/assets/beachHD.png")
    source(src="/assets/img/beach720.mp4" type="video/mp4")
      
  .content
    .lead
      h1 Relaxing Now
      h2 Drop me a line 
      h3: a(href="mailto:KonradKarimi@gmail.com") KonradKarimi@gmail.com
